* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--white: hsl(0, 0%, 100%);
	--light-pink: hsl(277, 56%, 92%);
	--grayish-purple: hsl(292, 16%, 49%);
	--dark-purple: hsl(292, 42%, 14%);
	--super-pink: hsl(282, 81%, 53%);
}

body {
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
	font-style: normal;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	min-height: 100vh;
	background: url(./assets/images/background-pattern-mobile.svg) no-repeat var(--light-pink);
	z-index: 0;
}

.container {
	padding: 20px;
	background-color: white;
	margin: 100px 20px;
	border-radius: 10px;
	min-height: 60vh;
}

.header {
	display: flex;
	justify-content: space-around;
	width: 50%;
	margin-bottom: 20px;
}

.img-star {
	width: 40px;
}

.title {
	font-size: 48px;
	font-weight: 800;
}

.question {
	color: var(--dark-purple);
	font-weight: 600;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.question:hover {
	color: var(--super-pink);
}

.question-text {
	width: 80%;
}

.answer {
	color: var(--grayish-purple);
	font-size: 14px;
	font-weight: 400;
	margin-bottom: 20px;
}

.hidden {
	display: none;
}

.attribution {
	position: absolute;
	bottom: 10px;
	font-size: 11px;
	text-align: center;
	display: none;
}
.attribution a {
	color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 1440px) {
	body {
		background-color: azure;
	}

	main {
		background: url(./assets/images/background-pattern-desktop.svg) no-repeat var(--light-pink);
		width: 1440px;
		min-height: initial;
	}

	.container {
		max-width: 35%;
	}

	.attribution {
		display: inline;
	}
}
